/* Start Standard Variables */
:root{
    --main-color: #10cab7;
}
/* End Standard Variables */

/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    /* background-color: aqua; */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
.header{
    padding: 20px;
}

.header  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header  .container .logo {
    border-style: none;
    width: 60px;
}
/*+++++++++++++++++++++++++++++++++++++*/
.header  .container .links{
    position: relative;
}
.links:hover .icon span:nth-child(2){
    width: 100%;
}
.links:hover ul{
    display: block;

}
.icon{
    width: 25px;
    /* background-color: rgb(36, 142, 142); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.icon span{
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
}
.icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}

.links ul{
    margin: 0;
    list-style: none;
    position: absolute;
    right: 0;
    padding: 0;
    min-width: 200px;
    background-color: rgb(233, 240, 240);
    top: calc(100% + 20px);
    display: none;
    z-index: 1;
}
.links ul::before{
    content: "";
    border-width: 10px;
    border-color: transparent transparent rgb(227, 233, 233) transparent;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -19px;
}
.links ul a{
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: 0.3s;
}
.links ul a:hover{
    padding-left: 25px;
}
.links ul li:not(:last-child) a{
    border-bottom: 1px solid black;
}
/* End Header */
/* start landing */
.landing{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 390px;
    max-width: 100%;
}
.landing .intro-text h1{
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
    color: rgb(255, 255, 255);

}


/* End landing */


